:root {
  --color-orange: #FF7300;
  --color-orange-dark: #9c4600;
  --color-orange-light: #ffaf6e;
  --color-gray: #5c5c5c;
}

.navbar a {
  color: #FFF;
}

.laranja {
  background-color: var(--color-orange);
  transition: 0.2s ease-in-out;
}

.laranja:hover {
  background-color: var(--color-orange-dark) !important;
}

.laranja:active {
  background-color: var(--color-orange-light) !important;
}

.transparente {
  transition: 0.2s ease-in-out;
  border: 2px solid;
}

.transparente:hover {
  border-color: var(--color-orange);
}

.transparente:active {
  background-color: #000 !important;
}

.hero-page {
  min-height: 90vh;
  position: relative;
}

.hero-image {
  width: 100%;
  min-height: 100vh;
  position: relative;
  object-fit: cover;
}

.hero-image::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .3));
}

.hero-text {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
}

.hero-conteudo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.hero-video {
  max-width: 750px;
}

.hero-btn a {
  padding-inline: 50px;
  border-radius: 15px;
}


.aplicativo-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

.aplicativo-conteudo button, a {
  padding-inline: 25px;
  border-radius: 15px;
}

.blog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.card img {
  border-radius: 20px;
  height: 275px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards button {
  transition: .5s;
}

.cards button:hover {
  scale: 1.05;
}

.precos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.precos-cards {
  display: flex;
}

.card-conteudo {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}

.trabalhe p {
  font-size: 25px;
}

.rodape {
  background-color: var(--color-orange);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}